<!DOCTYPE html>

<html>
    <head>

        <link href="{{ url_for('static' ,filename='styles.css') }}" rel="stylesheet" />

        <!-- map -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>

        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>

        <script type="text/javascript" src="{{ url_for('static' ,filename='MovingMarker.js') }}"></script>

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <!-- polyline -->
        <script src="https://cdn.jsdelivr.net/npm/@mapbox/polyline@1.1.1/src/polyline.min.js"></script>
        
        <!-- awesome fonts -->
        <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">

        <link rel="stylesheet" href="{{ url_for('static', filename='Awesome-markers/leaflet.awesome-markers.css')}}">
        <script src="{{ url_for('static' ,filename='Awesome-markers/leaflet.awesome-markers.js') }}"></script>

        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>



    </head>
    <body>
        <div class = "split" id = "map">
            
        </div>
        <div class = "split" id = "param">
            <table>
                <form action="">
                    <tr id="p1">
                        <td>
                            <label for="preset">Preset: 
                                <select name="preset" class="preset" id="preset">
                                    <option value="None" selected="selected">None</option>
                                    <option value="preset1">Preset 1</option>
                                    <option value="preset2">Preset 2</option>
                                    <option value="preset3">Preset 3</option>
                                </select>
                            </label>
                        </td>
                    </tr>
                    <tr><td id = "data"></td></tr>
                    <tr id="p2">
                        <td>
                            <label for="algorithm">Algorithm: 
                                <select name="algorithm" class="algorithm" id="algorithm">
                                    <option value="None" selected="selected">None</option>
                                    <option value="tabu">Tabu Search</option>
                                </select>
                            </label>
                        </td>
                    </tr>
                    <tr><td>Number of iterations: <input type="number" id="iterations" name="iterations" min="1"></td></tr>
                    <tr><td><input type="button" value="submit" onClick="getInputs();"></td></tr>
                </form>
            </table>
        </div>
        <script src="{{ url_for('static' ,filename='map.js') }}"></script>
    </body>
</html>

